.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding-top: 20px;
}

.container {
    padding: 0 3em;
}

.header.inverse {
    background-color: #273883;
}
.logo {
    width: 120px;
}

.header div:last-child{
    flex: 1;
}

.header ul {
 display: flex;
 justify-content: flex-end;
 font-size: 16px;
 margin-right: 100px;
 text-transform: uppercase;
}

.header ul li {
    list-style-type: none;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
