

.articlesWrapper {
    display: grid;
    /* grid-template-columns: 1fr; */
    justify-content: center;
}

.blogContainer {
    background-color: #fff;
}

.container {
    padding: 2em 3em;
}

.bgblue {
    background-color: #273883;
}

.pt1 {
    padding-top: 1em;
}
.pt2 {
    padding-top: 2em;
}

.bulb {

}

.lgOnly {
    display: none;
}

.containerMax {
    max-width: 1440px;
    margin: auto;
}


.headerSection {
    display: flex;
    min-height: 500px;
    align-items: center;
    color: #fff;
    margin: auto;
    padding: 5% 0;
}


.headerSection > div {
    flex: 1;
}

.headerSection div:first-child {
    max-width: 600px;
}
.headerSection div:last-child {
    display: flex;
    justify-content: center;
}

.headerSection h2 {
    font-size: 64px;
    color: #fff;
    font-weight: bolder;
    /* letter-spacing: -0.05em; */
    line-height: 84px;
    margin-bottom: 10px;
}
.headerSection p {
    font-size: 24px;
}

@media (max-width: 768px) {

    .lgOnly {
        display: none !important;
    }

    .container {
        padding: 20px;
    }

    .headerSection {
        display: block;
        margin: auto;
        padding: 20px;
    }

    .headerSection h2 {
        font-size: 38px;
         font-weight: bolder;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    .headerSection p {
        font-size: 18px;
    }

    .bulb {
        width: 50%;
    }
}

@media (min-width: 668px) {
    .articlesWrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .smOnly {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .articlesWrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:768px) and (max-width: 992px) {
      .headerSection h2 {
        font-size: 48px;
         font-weight: bolder;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    .headerSection p {
        font-size: 20px;
    }
}