

.articlesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blogContainer {
    background-color: #fff;
}

.container {
    padding: 2em 3em;
}

.bgblue {
    background-color: #273883;
}

.pt1 {
    padding-top: 1em;
}
.pt2 {
    padding-top: 2em;
}

.containerMax {
    max-width: 1440px;
    margin: auto;
}

.headerSection {
    display: flex;
    min-height: 500px;
    align-items: center;
    color: #fff;
    margin: auto;
    padding: 5% 0;
}

.headerSection > div {
    flex: 1;
}

.headerSection div:first-child {
    max-width: 600px;
}
.headerSection div:last-child {
    display: flex;
    justify-content: center;
}

.headerSection h2 {
    font-size: 64px;
    color: #fff;
    font-weight: bolder;
    /* letter-spacing: -0.05em; */
    line-height: 84px;
    margin-bottom: 10px;
}
.headerSection p {
    font-size: 24px;
}