@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}


p {
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
}

h4, h5 {
  font-family: 'Open Sans', sans-serif;
}